# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\TestCodeCamp_Programme\Submission\SeleniumWebdrivertests\SinglePage_Task\OrangeORM_Login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
