<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/Raheem/TestCodeCamp_Programme/Submission/SeleniumWebdriverTests/SinglePage_task/Deydam">
        <classes>
            <class name="User.UserManagementTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="logoutTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>