<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/User/TestCodeCamp_Programme/Submission/SeleniumWebdrivertests/PageObjectModel_Tasks/KongaProject">
    <classes>
        <class name="Konga.KongaTests">
            <methods>
                <include name="testLoginPage"/>
            </methods>
        </class>
    </classes>
</test>
</suite>