<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" name="C:\Users\User\TestCodeCamp_Programme\Submission\SeleniumWebdrivertests\PageObjectModel_Tasks/src/test/java/setup/SetupTests.java">
    <classes>
        <class name="LoginPage.LoginPageTests">
            <methods>
                <include name="testLogin"/>
                <include name="testLogout"/>
            </methods>
        </class>
    </classes>
</test></suite>